/* scrollbar */
* {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(#036187, #aea9a9);
  }

  &::-webkit-scrollbar-thumb {
    background: #1fb1c8;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #105a78;
  }
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  min-height: 100vh;
  max-height: 100vh;
  padding: 20px;
  //padding: 10px;
  background-image: linear-gradient(#036187, #aea9a9);
  background-repeat: no-repeat;
  background-size: contain;
}

#search-container {
  place-self: center center;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  height: auto;
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 3px 3px 6px #0000004f;

  button {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1fb1c8;
    font-weight: bold;
    border-radius: 0 8px 8px 0;

    &:hover {
      filter: brightness(80%);
    }

    &:focus {
      outline: none;
    }
  }
}

#search {
  border: none;
  padding: 20px;
  font-size: 1.4rem;
  width: 100%;
  border-radius: 8px 0 0 8px;
  background-color: #ffffff;

  &:focus {
    outline: none;
  }
}

#weather-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center center;
  gap: 20px;
}

#current-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  height: 100%;
  max-height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  backdrop-filter: saturate(100%);
  backdrop-filter: contrast(45%);
  backdrop-filter: brightness(130%);
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
  img {
    height: auto;
    width: 100px;
  }
}

#temp {
  padding-block: 10px;
}

.description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.description-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 10px;
  font-size: 0.9rem;
  padding: 10px;

  .title {
    font-size: 1rem;
    font-weight: bold;
  }
}
#daily-forecast {
  place-self: center center;
  height: 100%;
  max-height: 400px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  backdrop-filter: saturate(100%);
  backdrop-filter: contrast(45%);
  backdrop-filter: brightness(130%);
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    background: inherit;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #1fb1c8;
    border-radius: 0 8px 8px 0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #105a78;
  }
}

@media only screen and (max-width: 720px) {
  #weather-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    place-items: center center;
    gap: 20px;
  }

  .description {
    flex-direction: column;
  }

  .description-card {
    flex-direction: row;
  }
}
